@{
    ViewData["Title"] = "Home Page";
}

@model Inventory

<div class="header header-text">
    <a asp-controller="Home" asp-action="Index">DASHBOARD</a>
</div>

<div class="container">
    <div class="sidebar">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
        </ul>

        <hr class="solid"/>

        <ul>
            
            <li><a href="#">Equipments</a></li>
            <li><a href="#">Members</a></li>
            <li><a href="#">Assigned Members</a></li>
            <li><a href="#">Equipped Members</a></li>
        </ul>

    </div>
    <div class="main-content">

        <h3>MEMBERS</h3>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Members)
                {
                    <tr>
                        <td>@member.FirstName</td>
                        <td>@member.LastName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>